@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    scrollbar-gutter: stable;
}

body {
    color: white;
    background: black;
    overflow-x: hidden;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
