@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    overflow-y: scroll;
}

@supports (scrollbar-gutter: stable) {
    html {
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}

html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
}

body {
    color: white;
    background: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
